Source: adjuster
Section: admin
Priority: extra
Maintainer: wuxingyi <wuxingyi2015@outlok.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/wuxingyi/adjuster

Package: adjuster
Architecture: all
Description: adjust writeback_minium_rate for bcache devices
